{% extends 'index.html'%}

{% block content %}
<main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {%include 'base/activity_component.html'%}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <p><small >username : </small> {{user.username}}  </p>
            <h3>{{user.name}}</h3>
            
            <i> {{user.email}}</i>
            <div class="profile__about">
             
            </div>

            {% if request.user == user %}
            <a href="{%url 'update-user'%}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}

          </div>
          <div class="profile__about">
            <h3>Bio</h3>
            <p>
              {{user.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Chat Circle Hosted by {{user.name}}</a>
            </h2>
          </div>
        </div>
        {%include 'base/feed_component.html'%}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'base/topic_components.html' %}
      <!-- Activities End -->
    </div>
  </main>
{% endblock content%}